---
eleventyComputed:
  backgroundImage: "/images/wall.JPG"
---

<html>
  <head>
    <style>{% include "./_src/css/base.css" | url %}</style>
    <style>{% include "./_src/css/landing.css" | url %}</style>
    <title>
      {{ site.name }}{% if title %} - {{ title }}{% endif %}
    </title>
    <link
        rel="icon"
        type="image/gif"
        href="/images/POINT.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Sono&family=Spectral:wght@600&family=Tinos:wght@700&family=Alegreya+Sans&family=Laila&family=Philosopher&display=swap" rel="stylesheet">
    <meta
        name="description" 
        content="
          {% if description %}
            {{ description }}
          {% else %}
            {{ site.description }}
          {% endif %}" >
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  </head>
  <body>
    {{ content | safe }}
  </body>
<html>
