---
layout: landing-template
eleventyComputed:
  foregroundImage: "/images/sigils.apng"
  title: Cory Massaro
  headerImageOld: "/images/wall-plants-with-transparency.png"
  headerImageOld2: "/images/wall-plants-only.png"
  backgroundImage: "/images/wall.webp"
  borderColor: rgba(120, 0, 120, 1)
  philosopherFont: "/fonts/el-messiri/ElMessiri-Regular.woff"
  exoFont: "/fonts/exo-2/Exo2-Regular.woff"
---
