---
layout: base
eleventyComputed:
  foregroundImage: "/images/sigils.apng"
  title: Cory Massaro
---

<!-- TODO: how to make this randomize statically? <a href="{{ title | getRandomPage }}"> -->
<a href="/contact/">
    <img src="{{ foregroundImage }}" class="centered-floating">
</a>
