nav {
  background-color: rgba(100, 100, 200, 1);
}

nav li {
  display: inline-block;
  text-align: center;
}

@keyframes moveimage {
  100% { background-position: -40% 80%; }
}

body {
  background-color: {{ backgroundColor }};
  background-image: url("{{ backgroundImage }}");
  background-size: 25%;
  /* background-position: 135% 100%; */
  background-position: 90% 80%; 
  background-repeat: no-repeat;
  /* animation: moveimage 40s infinite; */
}

.shoulders {
  margin: 50px; 
  margin-bottom: 500px;
  padding: 3%;
  padding-left: 3%;
  background: {{ shoulderBackground }};
  border: 2px solid {{ borderColor }};
}

main {
  padding-left: 3%;
  border-bottom: 2px solid {{ borderColor }};
}

footer {
  font-size-adjust: .4;
}
