:root {
	--title-font: 'Tinos', serif;
	--text-font: 'Philosopher', sans-serif;
  --code-font: 'Sono', monospace;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--title-font);
}

p, body {
	font-family: var(--text-font);
}

code {
  font-family: var(--code-font);
}

p {
	line-height: 1.4;
}

::selection { 
  background-color: {{ borderColor }};
  color: white; 
}

a {
	color: {{ borderColor }};
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.nav-container {
  position: relative;
}

.nav-inner, .nav-border {
  height: 100%;
  position: absolute;
  top: 0;
  left: 55%;
}

.nav-inner {
  z-index: 10;
}

.nav-border {
	width: 92%;
	margin-left: -43.5%;
	left: 47.5%;
}

.nav-border .inner {
  margin-top: 25px;
  border-bottom: 2px solid {{ borderColor }};
  z-index: 10;
}

nav {
  background-color: rgba(100, 100, 200, 1);
}

nav li {
  display: inline-block;
  text-align: center;
}

.nav-inner li a {
  /* background-color: {{ shoulderBackground }}; */
	background-color: {{ backgroundColor }};
	padding: 0 10px;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.nav-inner li a:hover {
	color: {{ borderColor }};
}


@keyframes moveimage {
  100% { background-position: -40% 80%; }
}

body {
  background-color: {{ backgroundColor }};
  /* animation: moveimage 40s infinite; */
  /* background-position: 135% 100%; */
}

.shoulders {
  margin: 50px; 
  margin-bottom: 20px;
  padding: 3%;
  padding-left: 3%;
  /* background: {{ shoulderBackground }}; */
  background: rgba(255, 255, 255, 1);
  border: 2px solid {{ borderColor }};
}

.justified-list {
	padding: 0;
  text-align: justify;
}

.justified-list li {
  display: inline-block;
	margin-right: 20px;
}


hr {
	border-color: {{ borderColor }};
}


footer {
  font-size-adjust: .4;
	margin: 50px;
	text-align: right;
	color: white;
	border-top: 2px solid {{ borderColor }};
	padding-top: 20px;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0 50px;
}

header h1 {
	color: white;
	font-size: 3.5em;
	margin: 0;
}

header img {
	max-width: 300px;
  min-height: 207px;
}
