.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 20%;
}

.sidebar-div {
    display: grid;
    place-items: right;
    height: 100%
}

.centered-div {
    display: grid;
    place-items: center;
    height: 100%;
}

body {
    background: url('{{ backgroundImage }}') no-repeat center center fixed;
    height: 100%;
    background-size: auto 120%;
    background-color: white;
}
